<header class="site-header">
    <a href="/" data-nav="home" class="centre">
      <img src="img/bookmark.svg" alt="logo">
    </a>
    <nav>
      <a href="index.html" data-nav="home"><img src="img/home.svg" alt="Accueil" title="Accueil"></a>
      <a href="edt.html" data-nav="edt"><img src="img/calendar.svg" alt="EDT" title="Emploi du temps"></a>
      <a href="notes.html" data-nav="notes"><img src="img/notes.svg" alt="Notes" title="Notes"></a>
      <a href="ressources.html" data-nav="ressources"><img src="img/link.svg" alt="Ressources" title="Ressources"></a>
    </nav>
</header>