/*Fichier CSS pour l'EDT*/

#calendar-grid{
    background-color: var(--glass-bg-dark);
    background: var(--glass-bg-dark);
    backdrop-filter: blur(10px);           /* flou derrière */
    -webkit-backdrop-filter: blur(10px);   /* compatibilité Safari */
    border: 1px solid var(--glass-border);
    border-radius: 5px;
    padding: 1rem;

    height: 100%;
    width: 100%;;
    overflow-y: scroll;
}

.cour{
    background-color: var(--glass-bg-dark);
    background: var(--glass-bg-dark);
    backdrop-filter: blur(10px);           /* flou derrière */
    -webkit-backdrop-filter: blur(10px);   /* compatibilité Safari */
    border: 1px solid var(--glass-border);
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 3rem;
    min-height: 1px;
    transition: all ease-in-out 0.3s;

    overflow-y: scroll;

    &:hover{
        background-color: rgb(70, 70, 70);
        backdrop-filter: blur(5px);
        min-height: 13em;
        z-index: 1000 !important;
    }

    display: flex;
    flex-direction: column;
    color: var(--text);

    div{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    }
}

.name{
    font-weight: bold;
    font-size: 1em;
}

.location{
    font-weight: bold;
    font-size: 0.8em;
    color: orange;
}

.prof, .time{
    font-style: italic;
    font-size: 0.8em;
    color: aquamarine;
}

@media (max-width: 768px) {
    .name{
        font-size: 0.8em;
    
    }
}

.calendar-grid button img { width: 20px; height: 20px; }
.calendar-grid button:hover { filter: brightness(1.1); }
.calendar-grid button:active { transform: translateY(1px); }
